<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
<!--   <body style='margin-left:20;margin-right:20;'> -->
<!--     <body style="margin:0;padding:0"> -->
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">


          <figure style="float:left;" >
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class = "profilepic"
            width = 250
            height = 300              
          />
          <figcaption>  P.C. Fangzhou Zhao  </figcaption>
        </figure>

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
